
<mat-card class="mat-elevation-z1">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon aria-hidden="true" aria-label="Router">router</mat-icon>
        </div>
        <mat-card-title>{{truck.code}}</mat-card-title>
        <mat-card-subtitle>{{truck.groupe}}</mat-card-subtitle>
        <span class="spacer"></span>

        <a [routerLink]="['/truck-edit',truck.id]" routerLinkActive="router-link-active" >
          <mat-icon  aria-hidden="true" aria-label="User">edit</mat-icon>
        </a>
        <a (click)="openDialog(truck.code)" style="cursor: pointer;">
          <mat-icon color="warn" aria-hidden="true" aria-label="Delete">delete</mat-icon>
        </a>
      </mat-card-header>
    <img mat-card-image src="assets/truck-pic.png" />
    <mat-card-content>
      <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Export Report
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field>
                <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
              </mat-form-field>
              <mat-datepicker #picker></mat-datepicker>
              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Close</button>
                <button mat-button color="primary" (click)="nextStep()">Export</button>
                <button mat-button color="primary" (click)="nextStep()">Send</button>
              </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
    <mat-card-footer>
      <button [routerLink]="['/truck-detail',1]" routerLinkActive="router-link-active"
        fxFlex mat-raised-button color="primary">
            <mat-icon aria-hidden="true" aria-label="User">search</mat-icon>
        Statistics
      </button>
    </mat-card-footer>
</mat-card>
