
<mat-card class="mat-elevation-z1">
    <mat-card-header>
        <mat-card-title> {{truck.code}} / {{truck.groupe}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="http://pngimg.com/uploads/truck/truck_PNG16275.png" />
    <mat-card-content>
      <mat-card>
        <mat-card-content>
          <p>{{truck.description}}</p>
        </mat-card-content>
      </mat-card>
      <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Export Report
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field>
                <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
              </mat-form-field>
              <mat-datepicker #picker></mat-datepicker>
              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Close</button>
                <button mat-button color="primary" (click)="nextStep()">Export</button>
                <button mat-button color="primary" (click)="nextStep()">Send</button>
              </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
    <mat-card-footer>
      <button fxFlex mat-button color="primary">
        Edit
      </button>
      <button [routerLink]="['/truck-detail',1]" routerLinkActive="router-link-active"  fxFlex mat-button color="primary">
        Statistics
      </button>
      <button (click)="onDelete(truck.code)" fxFlex mat-button color="warn">
        Delete
      </button>
    </mat-card-footer>
</mat-card>
