
<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 150vh" >
  <div style="text-align: center;">
    <h2> List of Trucks</h2>
  </div>
  <div fxLayout="row wrap" >

    <div *ngFor="let truck of trucks$" fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" style="padding: 5px;">
      <app-truck-item (deleteTruck)="onDeleteTruck(truck.code)" [truck]="truck"></app-truck-item>
    </div>
    <!--
      Card : Add new truck
    -->
    <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" style="padding: 5px;">

       <mat-card  style="height: 100%;">
        <a [routerLink]="['/truck-add']" routerLinkActive="router-link-active" >
            <img mat-card-image src="assets/truck-add.png" />
        </a>
       <mat-card-content style="text-align: center;">
          <p>
             Please to set a unique Code
          </p>
       </mat-card-content>
        <mat-card-footer>
          <button style="height: 57px;" fxFlex mat-flat-button color="primary">
            Add new truck
          </button>
        </mat-card-footer>
       </mat-card>
    </div>
  </div>
</div>
