/* Structure */
.example-container {
  position: relative;
  padding: 5px;
  width: 700px;
  margin-top: 6%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}

.center {
  justify-content: center;
  display: flex;
}

.example-header-image {
  background-image: url('/assets/truck-add.png');
  background-size: cover;
}
